<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Mission</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <h3>Latest Mars News</h3>
    <h4> {{ mars.title_stripped }} </h4>
    <h5> {{ mars.text_stripped }} </h5>
    <h3>Featured Mars Image</h3>
    <img src={{ mars.featured_image_url }} alt="Featured Mars Image">
    <div>
      <h3 style="text-align: right;">Mars Facts</h3>
      <p style="text-align: right;"> {{mars.facts_html | safe }} </p>
    </div>
  </div>
  <div class="col-md-6">
    <img src={{ mars.hem1 }} alt={{ mars.title1 }} style="width:100%">
      <div class="caption">
        <p> {{ mars.title1 }} </p>
      </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ mars.hem2 }}">
        <img src="{{ mars.hem2 }}" alt={{ mars.title2 }} style="width:100%">
        <div class="caption">
          <p> {{ mars.title1 }} </p>
        </div>
      </a>
    </div>
  </div><div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ mars.hem3 }}">
        <img src="{{ mars.hem3 }}" alt={{ mars.title3 }} style="width:100%">
        <div class="caption">
          <p> {{ mars.title1 }} </p>
        </div>
      </a>
    </div>
  </div><div class="col-md-6">
    <div class="thumbnail">
      <a href="{{ mars.hem4 }}">
        <img src="{{ mars.hem4 }}" alt={{ mars.title4 }} style="width:100%">
        <div class="caption">
          <p> {{ mars.title4 }} </p>
        </div>
      </a>
    </div>
  </div>
  </div>
</body>

</html>
